* {
    font-size: 16px;
    font-family: '微软雅黑';
}

body {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.801);
}



/*
    head部分样式
*/


/*
    search部分样式
*/
#search{
    position: relative;
    z-index: 100;
    border-bottom: 1px solid rgb(226, 226, 226);
}
#search>div{
    width:1000px;
    margin:0 auto;
}
.left {
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 320px;
}

.left div {
    float: left;
    width: 80px;
    height: 28px;
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
    cursor: pointer;
}

.left div.now{
    background-color: rgb(229, 67, 72);
    color: #fff;
}

.right {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right input {
    width: 600px;
    height: 35px;
    outline: 0;
    text-indent: 10px;
    border: 1px solid #c7c5c5;
}
.right>div>div:last-child {
    margin-top: 10px;
}

.right>div>div:last-child div {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    background-color: rgb(229, 67, 72);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: 300ms ease all;
    margin-top: 8px;
    background-position: -10px  center;
}
.right>div>div:last-child div.now {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 5px  center;
    background-image: url('./../imgs/右箭头.png')
}

.right div div:last-child div+div {
    margin-left: 15px;
}
.right div ul{
    width:600px;
    position: absolute;
    border: 1px solid #cfcfcf;
}
.right div ul li{
    height: 30px;
    background-color: #fff;
    text-indent: 12px;
    line-height: 30px;
    border-bottom: 1px dashed #c7c5c5;
    cursor: pointer;
}
.right div ul li:hover{
    background-color:#e2e2e2;
}
/*
    hot-nav部分样式
*/
#hot-nav{
    margin-top: 10px;
}
#hot-nav ul{
    width: 1000px;
    margin:0 auto;
}
#hot-nav ul li{
    width: 250px;
    height: 132px;
    float: left;
    cursor: pointer;
    transition: 300ms ease all;
    z-index: 0;
    position: relative;
  
}
#hot-nav ul li:hover{
    z-index: 10;
    box-shadow: 0px 0px 20px #636363;

}
#hot-nav ul li:hover a{
    z-index: 100;
}
#hot-nav ul li:hover img{
    z-index: 100;
}


#hot-nav li a {
    display: block;
    width: 100%;
    height: 100%;
}
#hot-nav li a img{
    height: 100%;
    width: 100%;
}

/*
    section部分样式
*/
section{
    margin-top: 30px;
}
.tag{
    width: 1000px;
    margin: 0 auto;
}
.tag ul{
    width:100%;
    position: relative;
    background-color: #fff;
    border-bottom:1px solid #d4d4d4;
}
.tag ul li{
    float: left;
    width: 100px;
    line-height: 38px;
    height: 38px;
    box-sizing: border-box;
    text-align: center;
}
.tag ul li:first-child{
   background-color: #E54348;
    text-indent: 18px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 8px center;
    position: relative;
}
.tag ul li + li{
    cursor: pointer;
    width:auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;

}
.site{
    width: 1000px;
    margin:0 auto;
    background-color: #fff;
}
.site ul li{
    float: left;
    width: calc(1007px / 7);
    line-height: 36px;;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    border:.5px solid #d4d4d4;
    margin-right: -1px;
    margin-bottom:-1px;
}

.site ul li:hover{
    background-color: rgb(247, 246, 246);
}
.site ul li:hover a{
    color: #E54348;
}
.site ul li a {
    text-decoration: none;
    color: #636363;
    font-size: 13px;
}
.site .like{
    padding-left: 20px;
    background-image: url('./../imgs/心.png');
    background-repeat: no-repeat;
    background-position:0 center;
    background-size: 15px;
}
.site .import{
    color: #E54348;
}
.site>div{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.site div div{
   display: inline;
   flex-direction: row;
   justify-content: center;
   padding-left: 25px;
   padding-right: 25px;
   margin-left: 15px;
   margin-right: 15px;
   line-height: 25px;
   color: #000000;
   font-size: 12px;
   cursor: pointer;
   border-radius: 20px;
}
.site div .now{
    background-color: #E54348;
    color: #fff;
}

/*
    footer部分样式
*/
footer{
    background-color: #353535;
    margin-top:30px;
}
footer>div{
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer div div:nth-of-type(1){
    width:500px;
    float: left;
}
footer div div:nth-of-type(2){
    width: 100px;
    float: left;
}
footer div div:nth-of-type(3){
    width: 100px;
    float: left;
}
footer>div div p{
    font-size: 14px;
    color: #bebdbd;
}
footer div div ul{
    margin-top:20px;
    overflow: hidden;
}
footer div div ul li{
    float: left;
    padding-right: 20px;
    line-height: 20px;
    min-width: 60px;;
}
footer div div ul li a{
    text-decoration: none;
    color: #888;
    font-size: 12px;
}
footer div div+div{
    border-left: 1px solid rgb(71, 71, 71);
    padding-left: 40px;
}
footer div img{
    width:200px;
    float: left
}


/*
    slider部分样式
*/
#slider{
    position: fixed;    
    left: 50%;
    top: 185px;
    margin-left: 512px;
    border: 1px solid #ECECEC;
    background-color: #fff;
}
#slider div div{
    padding-left: 10px;
    padding-right: 15px;
    line-height: 30px;
    text-indent: 25px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 13px;
    transition: 50ms ease all;
}
#slider div div + div{
    border-top:  1px solid #ECECEC;
}
#slider div div:hover{
    background-color: #E54348;
    color: #fff;
}

/*
    modal部分样式
*/
#modal{
    position: relative;
    z-index: 151645465;
}
#modal>div{
        background-color: rgba(0, 0, 0, 0.452);
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
}
.form{
    width: 900px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(146, 146, 146);
    border-radius: 5px;
    line-height: 400px;
    text-align: center;
}